Source: fakechroot-cross
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Section: host/tools
Priority: optional
Standards-Version: 3.8.0
Build-Depends: libc6-dev, debhelper (>= 7)

Package: libfakechroot-cross
Architecture: any
Depends: ${fakechroot:Depends}
Description: gives a fake chroot environment
 This package provides a library which overrides libc functions, so
 it is possible to use root-specific tools without root priviliges.
 .
 In fake chroot you can install i.e. Debian bootstrap, create developer's
 environment and build packages inside chroot'ed system using standard
 non-root user account.
