Source: fakechroot-cross
Maintainer: Alexander Shishkin <virtuoso@slind.org>
Section: host-tools
Priority: optional
Standards-Version: 3.6.2
Build-Depends: libc6-dev, debhelper

Package: libfakechroot-cross
Section: host-tools
Architecture: any
Depends: ${fakechroot:Depends}
Description: gives a fake chroot environment
 This package provides a library which overrides libc functions, so
 it is possible to use root-specific tools without root priviliges.
 .
 In fake chroot you can install i.e. Debian bootstrap, create developer's
 environment and build packages inside chroot'ed system using standard
 non-root user account.
